{% extends 'base.html' %}

{% block content %}

   <!-- ABOUT HEAD -->
   <section id="about-head">
     <div class="showcase-inner py-5 text-white">
       <div class="container">
         <div class="row text-center">
           <div class="col-md-12">
             <h1 class="display-4">Move Management</h1>
           </div>
         </div>
       </div>
     </div>
   </section>

   <!-- Breadcrumb -->
   <section id="bc" class="mt-3">
     <div class="container">
       <nav>
         <ol class="breadcrumb">
           <li class="breadcrumb-item">
             <a href="{{ url_for('core.index') }}"><i class="fas fa-home pr-1"></i> Home</a>
           </li>
           <li id="li-style" class="breadcrumb-item active">
             Move Management
           </li>
         </ol>
       </nav>
     </div>
   </section>

   <!-- MAIN CONTENT -->
   <section id="move-mgmt">
     <div class="container mt-4">
       <div class="row">
         <div id="info-text-content-b">
           <h3 class="sec-head">Move Management  </h3>
           <p class="info-text-font">
             As your premium office movers, we at Office Relocation Services know how to plan,
             execute and secure the needs of every business whether it’s a small scale or major
             move. We understand the pressure and the stress of relocating an entire office space
             and wish to assist with an efficient service that you can depend on. As your expert
             office movers, we help each business with their move starting with the cost of the
             service through to the management of all goods.
           </p>
           <p class="info-text-font">
             As an flexible expert moving service, we have the privilege of assisting many
             clients across a diverse range of industries and businesses, whether an office
             move, IT relocation or a complete warehouse move, call us for a free quote.
           </p>
           <h3 class="sec-head">Our Professional Move Management Solutions Offer Value</h3>
           <p class="info-text-font">
             At Office Relocation Services, we are dedicated to providing strategically planned
             office moves in accordance with safety and security methods. We pay attention to strict
             budget requirements and will deliver our removal and relocation services in a timely and
             expert manner. Every office move can benefit from the time and dedication we take to
             carefully plan a move and ensure its successful results.
           </p>
           <p class="info-text-font">
             We believe in providing our customers with the value and attention to detail they need
             when making a move between locations. This is why Office Relocation Services are here
             to provide fully customized removals and a service you can trust, while demonstrating
             transparency throughout.
           </p>
           <p class="info-text-font">
             We can provide a dedicated move manager to manage your move from the beginning and they
             will work with you to determine your specific needs throughout the process.
           </p>
           <p class="info-text-font">
             The range of services that we offer include crate hire, moving trolleys for IT r
             elocation, library relocations, warehouse locations and temporary storage solutions .
           </p>

           <p class="info-text-font">
             Technicians are able to pack and unpack crates included in the move provided that it
             has been discussed with us prior to the day of the move. Our professional move manager
             will help facilitate and coordinate your commercial and office move from start to finish.
             We maintain the safety of all goods by locking and securing our vans during its journey
             to the next destination.
           </p>
           <h5 class="sec-head">For office removal and moving services you can trust, contact us today.
             We will provide the best professional solutions in office moves, relocation, storage and
             management requirements.</h5>
           <br>
         </div>
       </div>
     </div>
   </section>

  {% endblock %}
